.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: #f8f9fc;
    line-height: 22px;
    margin-top: 20px;
  }
  
  .login-card {
    background-color: white;
    padding: 35px 30px;
    /* border-radius: 10px; */
    /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08); */
    width: 100%;
  }
  
  .login-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    color: #111;
  }
  
  label {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    margin-top: 3px;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  .show-password {
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 8px;
    font-size: 14px;
    color: #333;
  }
  
  button {
    width: 100%;
    background-color: #377dff;
    color: white;
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2e6fe6;
  }
  
  .login-links {
    text-align: center;
    margin-top: 21px;
    font-size: 13px;
    color: #555;
    line-height: 8px;
  }
  
  .login-links a {
    color: #377dff;
    text-decoration: none;
  }
  